{% load static %}
<section id="rockets" class="p-6 my-12 scroll-mt-20 widescreen:section-min-height tallscreen:section-min-height">
    <h2 class="mb-6 text-4xl font-bold text-center sm:text-5xl text-slate-900 dark:text-white">
      Our Rockets
    </h2>
    <ul
      class="flex flex-col items-center gap-8 mx-auto my-12 list-none md:flex-row"
    >
      <li
        class="flex flex-col items-center w-2/3 px-2 py-6 bg-white border border-solid shadow-xl sm:w-5/6 border-slate-900 dark:border-gray-100 dark:bg-black rounded-3xl"
      >
        <img
          src="{% static 'img/rocketman.png' %}"
          alt="Explorer"
          class="w-1/2 mb-6"
        />
        <h3 class="text-3xl text-center text-slate-900 dark:text-white">
          Explorer
        </h3>
        <p
          class="hidden mt-2 text-3xl text-center sm:block text-slate-500 dark:text-slate-400"
        >
          $
        </p>
        <p
          class="mt-2 text-2xl text-center md:hidden text-slate-500 dark:text-slate-400"
        >
          Affordable Exploration
        </p>
      </li>
      
      <li
        class="flex flex-col items-center w-2/3 px-2 py-6 bg-white border border-solid shadow-xl sm:w-5/6 border-slate-900 dark:border-gray-100 dark:bg-black rounded-3xl"
      >
        <img
          src="{% static 'img/rocketlaunch.png' %}"
          alt="Adventurer"
          class="w-1/2 mb-6"
        />
        <h3 class="text-3xl text-center text-slate-900 dark:text-white">
          Adventurer
        </h3>
        <p
          class="hidden mt-2 text-3xl text-center sm:block text-slate-500 dark:text-slate-400"
        >
          $$
        </p>
        <p
          class="mt-2 text-2xl text-center sm:hidden text-slate-500 dark:text-slate-400"
        >
          Best Selling Rocket!
        </p>
      </li>
      <li
        class="flex flex-col items-center w-2/3 px-2 py-6 bg-white border border-solid shadow-xl sm:w-5/6 border-slate-900 dark:border-gray-100 dark:bg-black rounded-3xl"
      >
        <img
          src="{% static 'img/rocketride.png' %}"
          alt="Infinity"
          class="w-1/2 mb-6"
        />
        <h3 class="text-3xl text-center text-slate-900 dark:text-white">
          Infinity
        </h3>
        <p
          class="hidden mt-2 text-3xl text-center sm:block text-slate-500 dark:text-slate-400"
        >
          $$$
        </p>
        <p
          class="mt-2 text-2xl text-center sm:hidden text-slate-500 dark:text-slate-400"
        >
          Luxury Starship
        </p>
      </li>
    </ul>
  </section>