<!-- Testimonials Section -->
<section
  id="testimonials"
  class="p-6 my-12 scroll-mt-20 widescreen:section-min-height tallscreen:section-min-height"
>
  <h2
    class="mb-6 text-4xl font-bold text-center sm:text-5xl text-slate-900 dark:text-white"
  >
    Testimonials
  </h2>
  <figure class="my-12">
    <blockquote
      class="relative py-12 pr-8 bg-teal-600 dark:bg-black pl-14 rounded-3xl"
    >
      <p
        class="text-2xl sm:text-3xl text-left mt-2 text-white dark:text-slate-400 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-9xl before:text-white before:opacity-25 before:transform before:translate-x-2 before:translate-y-2 after:content-['\201D'] after:font-serif after:absolute after:-bottom-20 after:right-0 after:text-9xl after:text-white after:opacity-25 after:transform after:-translate-x-2 after:-translate-y-2"
      >
        Acme has always been there for me. I've been a customer for over 20
        days. There Explorer rocket arrived in a plastic bag and was ready to
        fly. I'm a customer for life!
      </p>
    </blockquote>
    <figcaption
      class="mt-2 text-xl italic text-right sm:text-xl text-slate-900 dark:text-slate-100"
    >
      Wile E. Coyote, fucking genius!
    </figcaption>
  </figure>

  <figure class="my-12">
    <blockquote
      class="relative py-12 pr-8 bg-teal-600 dark:bg-black pl-14 rounded-3xl"
    >
      <p
        class="text-2xl sm:text-3xl text-left mt-2 text-white dark:text-slate-400 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-9xl before:text-white before:opacity-25 before:transform before:translate-x-2 before:translate-y-2 after:content-['\201D'] after:font-serif after:absolute after:-bottom-20 after:right-0 after:text-9xl after:text-white after:opacity-25 after:transform after:-translate-x-2 after:-translate-y-2"
      >
        The Acme rocket has thwarted my plans to take over the world. I'll buy
        my rockets from the other rocket company, SpaceX<span class="italic"
          >This make me very, very angry</span
        >
      </p>
    </blockquote>
    <figcaption
      class="mt-2 text-xl italic text-right sm:text-xl text-slate-900 dark:text-slate-100"
    >
      Some Daft Cartoon Character, Brainiac!
    </figcaption>
  </figure>

  <figure class="my-12">
    <blockquote
      class="relative py-12 pr-8 bg-teal-600 dark:bg-black pl-14 rounded-3xl"
    >
      <p
        class="text-2xl sm:text-3xl text-left mt-2 text-white dark:text-slate-400 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-9xl before:text-white before:opacity-25 before:transform before:translate-x-2 before:translate-y-2 after:content-['\201D'] after:font-serif after:absolute after:-bottom-20 after:right-0 after:text-9xl after:text-white after:opacity-25 after:transform after:-translate-x-2 after:-translate-y-2"
      >
        I am off to outer space and I needed a rocket from Acme to get me out
        there. Infinity and beyond
      </p>
    </blockquote>
    <figcaption
      class="mt-2 text-xl italic text-right sm:text-xl text-slate-900 dark:text-slate-100"
    >
      Buzz Lightyear, Like a robot!
    </figcaption>
  </figure>
</section>
