{% load static %} {% load static tailwind_tags %}
<!doctype html>
<html class="sm:scroll-smooth">
  <head>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <title>Acme Rockets</title>
    {% tailwind_css %}
  </head>
  <body class="min-h-screen bg-slate-50 dark:bg-black dark:text-white">
    {% include 'crm/includes/header.html' %}
    <main class="max-w-4xl mx-auto">

      
      {% include 'crm/includes/hero.html' %}
      
      <hr class="mx-auto bg-purple-400 h-1 dark:bg-white w-2/3" />
      
      {% include 'crm/includes/rockets.html' %}
      
      <hr class="mx-auto shadow-xl bg-purple-400 h-1 dark:bg-white w-2/3" />
      
      {% include 'crm/includes/testimonials.html' %}
      
      <hr class="mx-auto shadow-xl bg-purple-400 h-1 dark:bg-white w-2/3" />
      
      {% include 'crm/includes/contact.html' %}
      
      <br />
      <br />
    </main>
    {% include 'crm/includes/footer.html' %}
  </body>
</html>
